<?xml version="1.0" encoding="UTF-8"?>
<!-- Declaração XML padrão, define o tipo de documento e sua codificação -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Declara o DTD usado pelo Hibernate, garantindo que o XML siga a estrutura esperada -->

<hibernate-configuration>
    <!-- Elemento raiz da configuração do Hibernate -->

    <session-factory>
        <!-- Bloco principal onde se define as configurações da fábrica de sessões -->

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- Define o driver JDBC usado para conectar ao banco MySQL (driver do conector 8.x) -->

        <property name="hibernate.connection.url"> jdbc:mysql://127.0.0.1:3306/cadastro?useSSL=false&amp;serverTimezone=UTC</property>
        <!-- Define a URL de conexão com o banco de dados.
             - 127.0.0.1 = localhost
             - 3306 = porta padrão do MySQL
             - cadastro = nome do banco de dados
             - useSSL=false = desativa SSL
             - serverTimezone=UTC = define o fuso horário do servidor -->

        <property name="hibernate.connection.username">root</property>
        <!-- Usuário do banco de dados -->

        <property name="hibernate.connection.password">0604</property>
        <!-- Senha correspondente ao usuário acima -->

        <property name="hibernate.connection.pool_size">10</property>
        <!-- Tamanho do pool de conexões gerenciado pelo Hibernate (apenas 10 conexões simultânea) -->

        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Define o modo de gerenciamento da sessão atual (associada à thread atual) -->

        <property name="hibernate.show_sql">true</property>
        <!-- Habilita o log no console das instruções SQL executadas -->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Define o dialeto do banco usado (informa ao Hibernate como gerar o SQL para o MySQL) -->

        <mapping class="model.Cliente"/>
        <!-- Mapeia a classe Java 'Cliente' que representa uma tabela no banco -->

    </session-factory>
</hibernate-configuration>
